<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzWidth="256px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null">
    <div class="sidebar-logo">
      <a href="https://ng.ant.design/" target="_blank">
        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
        <h1>Sistema Sigere</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-menu-item >
        <a routerLink="/">Dashboard</a>
      </li>
      <li nz-menu-item >
        <a routerLink="/app/users">Usuarios</a>
      </li>
      <li nz-menu-item >
        <a routerLink="/app/roles">Roles</a>
      </li>
      <!-- <li nz-submenu nzOpen nzTitle="Dashboard" nzIcon="dashboard">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/welcome">Welcome</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a>Monitor</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a>Workplace</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Form" nzIcon="form">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a>Basic Form</a>
          </li>
        </ul>
      </li> -->
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger left" (click)="isCollapsed = !isCollapsed">
          <i class="trigger"
            nz-icon
            [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
          ></i>
        </span>
        <span class="header-selects right">
          <ul nz-menu [nzMode]="'horizontal'" class="header-menu">
            <li nz-submenu class="header-language_select">
              <span title><i nz-icon nzType="global"></i></span>
              <ul>
                <li nz-menu-item (click)="setLanguage('en')">English</li>
                <li nz-menu-item (click)="setLanguage('es')">Español</li>
              </ul>
            </li>
            <li nz-submenu [nzTitle]="name$ | async" nzIcon="user">
              <ul>
                <li nz-menu-item>Profile</li>
                <li nz-menu-divider></li>
                <li nz-menu-item (click)="signout()">Sign out</li>
              </ul>
            </li>
          </ul>
        </span>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
