<nz-card
  nzTitle="Users"
  nzSize="small"
  [nzExtra]="extraButtons"
  [nzBodyStyle]="{ padding: 0 }"
>
  <nz-table #basicTable [nzData]="users.docs">
    <thead>
      <tr>
        <th></th>
        <th>Name</th>
        <th>Apellido</th>
        <th>Correo</th>
        <th>Rol</th>
        <th>Estatus</th>
        <th nzWidth="100px" nzRight="0px">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>
          <nz-avatar [nzSize]="44" [nzSrc]="data.photo ? userFilePath + '/' + data.photo : imageDefault"></nz-avatar>
        </td>
        <td>{{data.name}}</td>
        <td>{{data.lastName}}</td>
        <td>{{data.email}}</td>
        <td>{{data.roles[0].name}}</td>
        <td>{{data.status}}</td>
        <td nzRight="0px">
          <a (click)="editUser(data)"><i nz-icon nzType="edit"></i></a>
          <nz-divider nzType="vertical"></nz-divider>
          <a
            nz-popconfirm
            nzPopconfirmTitle="¿Esta seguro?"
            nzPopconfirmPlacement="bottom"
            (nzOnConfirm)="deleteUser(data._id)"
          ><i nz-icon nzType="delete"></i></a>
        </td>
      </tr>
    </tbody>
  </nz-table>
</nz-card>
<ng-template #extraButtons>
  <div nz-row nzGutter="8">
    <div nz-col nzMd="12">
      <button
        nz-button
        [nzLoading]="loading"
        nzShape="circle"
        (click)="newUser()"
      ><i nz-icon nzType="plus"></i></button>
    </div>
    <div nz-col nzMd="12">
      <button
        nz-button
        [nzLoading]="loading"
        nzShape="circle"
        (click)="getUsers()"
      ><i nz-icon nzType="sync"></i></button>
    </div>
  </div>
</ng-template>

<app-users-form
  [show]="show"
  [loading]="loading"
  [loadingRoles]="loadingRoles"
  [user]="user"
  [roles]="roles"
  (getRoles)="getRoles()"
  [open]="open"
></app-users-form>
