<nz-card
  nzTitle="Roles"
  nzSize="small"
  [nzExtra]="extraButtons"
  [nzBodyStyle]="{ padding: 0 }"
>
  <nz-table #basicTable [nzData]="roles.docs">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Estatus</th>
        <th nzWidth="100px" nzRight="0px">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>{{data.name}}</td>
        <td>{{data.status}}</td>
        <td nzRight="0px">
          <a (click)="editRole(data)"><i nz-icon nzType="edit"></i></a>
          <nz-divider nzType="vertical"></nz-divider>
          <a
            nz-popconfirm
            nzPopconfirmTitle="¿Esta seguro?"
            nzPopconfirmPlacement="bottom"
            (nzOnConfirm)="deleteRole(data._id)"
          ><i nz-icon nzType="delete"></i></a>
        </td>
      </tr>
    </tbody>
  </nz-table>
</nz-card>
<ng-template #extraButtons>
  <div nz-row nzGutter="8">
    <div nz-col nzMd="12">
      <button
        nz-button
        [nzLoading]="loading"
        nzShape="circle"
        (click)="newRole()"
      ><i nz-icon nzType="plus"></i></button>
    </div>
    <div nz-col nzMd="12">
      <button
        nz-button
        [nzLoading]="loading"
        nzShape="circle"
        (click)="getRoles()"
      ><i nz-icon nzType="sync"></i></button>
    </div>
  </div>
</ng-template>

<app-roles-form [show]="show" [loading]="loading" [role]="role"></app-roles-form>
