<nz-card  class="mx-5">
  <nz-spin
    nzSimple
    nzSize="large"
    [nzSpinning]="loading"
  ></nz-spin>
  <h2 *ngIf="verified">
    <p>
      Su cuenta ha sido verificada con exito.
    </p>
    <p>
      <a routerLink="/">Inicia sesion</a> para disfrutar de los beneficios del sistema.
    </p>
  </h2>
  <h1 *ngIf="error">
    <p>
      Hubo un error, este email ya fue verificado o expiro. Haz clic en el siguiente boton para requerir uno nuevo.
    </p>
    <button nz-button nzType="primary" (click)="refreshToken()">Reenviar link</button>
  </h1>
  <h1 *ngIf="refreshed">
    <p>
      El email ha sido enviado. Verifique su bandeja de email.
    </p>
  </h1>
</nz-card>