:host {
  display: flex;
  text-rendering: optimizeLegibility;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}