<nz-select
  nzPlaceHolder="Language"
  class="system-language_select"
  [(ngModel)]="selectedValue"
  (ngModelChange)="setLanguage($event)"
>
  <nz-option nzLabel="English" nzValue="en"></nz-option>
  <nz-option nzLabel="Español" nzValue="es"></nz-option>
</nz-select>
<router-outlet></router-outlet>