<nz-modal
  [(nzVisible)]="show"
  nzTitle="Nuevo usuario"
  [nzClosable]="!loading"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk()"
  nzOkText="Guardar"
  nzCancelText="Cancelar"
  [nzOkLoading]="loading"
  [nzOkDisabled]="loading"
  [nzCancelDisabled]="loading"
  [nzMaskClosable]="false"
  (nzAfterOpen)="afterOpen()"
  (nzAfterClose)="afterClose()"
>
  <div>
    <form nz-form [formGroup]="form">
      <nz-form-item>
        <nz-form-control nzErrorTip="Seleccione la imagen">
          <app-image-cropper
            formControlName="crooperData"
            (fileCrop)="changeFileCrop($event)"
            [ambit]='users'
            [value]='user.photo'
          ></app-image-cropper>
        </nz-form-control>
      </nz-form-item>
      <div nz-row nzGutter="16">
        <div nz-col nzMd="12" nzSm="24">
          <nz-form-item>
            <nz-form-control nzErrorTip="Introduzca el nombre">
              <input formControlName="name" nz-input placeholder="Nombre" />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzMd="12" nzSm="24">
          <nz-form-item>
            <nz-form-control nzErrorTip="Introduzca el apellido">
              <input formControlName="lastName" nz-input placeholder="Apellido" />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzMd="12" nzSm="24">
          <nz-form-item>
            <nz-form-control nzErrorTip="Introduzca el email">
              <input formControlName="email" nz-input placeholder="Email" />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzMd="12" nzSm="24">
          <nz-form-item>
            <nz-form-control nzErrorTip="Seleccione el rol">
              <nz-select
                nzMode="multiple"
                [nzMaxTagCount]="1"
                formControlName="roles"
                nzAllowClear
                nzPlaceHolder="Seleccione"
                (nzOpenChange)="openSelect($event)"
                [nzDisabled]="loadingRoles"
                [nzLoading]="loadingRoles"
                [nzOpen]="open"
              >
                <nz-option *ngFor="let role of roles.docs" [nzValue]="role._id" [nzLabel]="role.name"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
    </form>
  </div>
</nz-modal>
