.cropper-wrapper_cropper {
  width: 200px;
  max-height: 200px;
  margin: auto;
}

.cropper-action_buttons {
  text-align: center;
  padding: 10px 0;

  button {
    margin: 0 5px;
  } 
}

.cropper-wrapper_cropped {
  height: 200px;
  text-align: center;

  .cropper-content_cropped {
    border: 1px solid #e3e3e3;
    position: relative;
    width: 200px;
    height: 100%;
    margin: auto;

    img {
      height: 100%;
    }
  
    label {
      cursor: pointer;
      position: absolute;
      left: 0;
      width: 100%;
      height: 100%;
      // background: rgba(125, 125, 125, 0.05);
    }
  
    input[type=file] {
      display: none;
    }
  }
}