<div class="cropper-wrapper_cropper">
	<angular-cropper
		#angularCropper
		*ngIf="isCropping"
		[cropperOptions]="options"
		[imageUrl]="imageUrl"
	></angular-cropper>
	<div class="cropper-wrapper_cropped" *ngIf="!isCropping">
		<div class="cropper-content_cropped">
			<img [src]="imageCropped" />
			<label for="cropper-input_file"></label>
			<input
				type="file"
				id="cropper-input_file"
				accept="image/x-png,image/gif,image/jpeg"
				(change)="fileChange($event)"
			/>
		</div>
	</div>
</div>
<div *ngIf="isCropping" class="cropper-action_buttons">
	<button
		nz-button
		nzType="primary"
		nzSize="small"
		nzShape="circle"
		(click)="crop()"
	>
		<i nz-icon nzType="check"></i>
	</button>
	<button
		nz-button
		nzType="danger"
		nzSize="small"
		nzShape="circle"
		(click)="cancelCrop()"
	>
		<i nz-icon nzType="close"></i>
	</button>
</div>
<div *ngIf="(!isCropping && cropData) || value" class="cropper-action_buttons">
	<button
		nz-button
		nzType="danger"
		nzSize="small"
		nzShape="circle"
		(click)="removeImage()"
	>
		<i nz-icon nzType="delete"></i>
	</button>
</div>
