<nz-modal
  [(nzVisible)]="show"
  nzTitle="Nuevo rol"
  [nzClosable]="!loading"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk()"
  nzOkText="Guardar"
  nzCancelText="Cancelar"
  [nzOkLoading]="loading"
  [nzOkDisabled]="loading"
  [nzCancelDisabled]="loading"
  [nzMaskClosable]="false"
  (nzAfterOpen)="afterOpen()"
  (nzAfterClose)="afterClose()"
  nzWidth="300"
>
  <div>
    <form nz-form [formGroup]="form">
      <div nz-row nzGutter="16">
        <div nz-col nzMd="24" nzSm="24">
          <nz-form-item>
            <nz-form-control nzErrorTip="Introduzca el nombre">
              <input formControlName="name" nz-input placeholder="Nombre" />
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
    </form>
  </div>
</nz-modal>
