<nz-card>
  <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
    <nz-form-item class="mb-2">
      <nz-form-control nzErrorTip="Please input your username!">
        <nz-input-group nzPrefixIcon="user">
          <input type="text" nz-input formControlName="email" placeholder="Email" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item class="mb-2">
      <nz-form-control nzErrorTip="Please input your Password!">
        <nz-input-group nzPrefixIcon="lock">
          <input type="password" nz-input formControlName="password" placeholder="Password" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item class="mb-0">
      <nz-form-control>
        <button
          nz-button
          class="login-form-button"
          [nzType]="'primary'"
          [nzLoading]="loading$ | async"
          [disabled]="loading$ | async"
        >Log in</button>
        <a class="login-form-forgot" class="login-form-forgot">Forgot password</a>
      </nz-form-control>
    </nz-form-item>
  </form>
</nz-card>